.equipo{
    width: 100%;
    background: rgba(0, 0, 0, 0.9);
    padding: 32px;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 32px;
}
.equipo h3{
    font-weight: 800;
    line-height: 38px;
    border-radius: 15px;
    color: antiquewhite;
    text-transform: uppercase;
}

.colaboradores{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}